@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>

    body{
        font-family: 'Shadows Into Light', cursive;
        background-image: url('https://img.taste.com.au/YfX0h9hC/taste/2017/10/mexican-taco-pizza-131640-1.jpg');
    }

    #btn-login{
        background-color:cadetblue; 
        border: none;
        opacity: 0.85;
    }

    #btn-login:hover{
        opacity: 1;
    }

    label, input{
        font-family: sans-serif;
        font-size: 14px;
    }

    .login-body{
        background-color: white;
        opacity: 0.95;
        padding: 50px;
        border-radius: 5px;
    }

    .login-body:hover{
        opacity: 1;
    }

</style>

<br />
<br />
<br />
<div class="login-body">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4" >
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.CustomerEmail">Email</label>
                    <input asp-for="Input.CustomerEmail" class="form-control" required />
                    <span asp-validation-for="Input.CustomerEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" required />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" id="btn-login" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" style="font-family: sans-serif; font-size:14px">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="font-family: sans-serif; font-size:14px">Register as a new user</a>
                    </p>
                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
