@using Entities.Models
@model RegisterInputModel
@{
    ViewData["Title"] = "Register";
}

<style>
    body {
        background-image: url('https://img.taste.com.au/YfX0h9hC/taste/2017/10/mexican-taco-pizza-131640-1.jpg');
        font-family: 'Shadows Into Light', cursive;
        font-size: 20px;
    }

    form {
        width: 600px;
    }

    #btn-register {
        width: 40%;
        margin-left: 10%;
        margin-top: 30px;
        background-color: cadetblue;
        border: none;
        opacity: 0.85;
    }

        #btn-register:hover {
            opacity: 1;
        }

    label, input {
        font-family: sans-serif;
        font-size: 14px;
    }

    .register-body {
        border-radius: 5px;
        padding: 50px;
        opacity: 0.95;
        background-color: white;
    }

        .register-body:hover {
            opacity: 1;
        }
</style>


<br />
<br />
<br />
<div class="register-body">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div style="width: 40%; float: left">
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" required />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" required />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" class="form-control" placeholder="11-11 Example Street" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="State"></label>
                        <input asp-for="State" class="form-control" placeholder="New York" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ZipCode"></label>
                        <input asp-for="ZipCode" class="form-control" placeholder="00000" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="123-456-7890" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div style="width: 40%; float:left; margin-left: 10%;">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" placeholder="example@name.com" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" required />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>


                <button type="submit" id="btn-register" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
