@{
    ViewData["Title"] = "Home Page";
}



<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Hanalei|Questrial|Shadows+Into+Light&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/index.css" />

<body>
    <div class="section-advertise">
        <div class="advertise-title">
            <h1 style="font-size: 160px; color: beige"> Revature Pizza </h1>
        </div>
        <div class="advertise-content">
            <p style="font-size: 30px;"><input type="button" id="sale" value="50% OFF" />  for all Pizzas !  </p>
        </div>
    </div>

</body>